{{define "content"}}
<article class="single-post">
    <header class="post-header">
        <h1>{{.Post.Title}}</h1>
        <div class="post-meta">
            <time datetime="{{.Post.CreatedAt.Format "2006-01-02T15:04:05Z07:00"}}">
                {{.Post.CreatedAt.Format "2006年1月2日"}}
            </time>
            {{if .Post.Author}}
            <span class="author">作者：{{.Post.Author.Username}}</span>
            {{end}}
            {{if .Post.PublishedAt}}
            <span class="published">發布於：{{.Post.PublishedAt.Format "2006-01-02"}}</span>
            {{end}}
        </div>
    </header>
    <div class="post-content">
        {{.Post.Content | html}}
    </div>
    <footer class="post-footer">
        <a href="/posts" class="back-link">← 返回文章列表</a>
        <div class="share-buttons">
            <span>分享：</span>
            <a href="javascript:void(0)" onclick="shareToFacebook('{{.Post.Slug}}', '{{.Post.Title}}')">Facebook</a>
            <a href="javascript:void(0)" onclick="shareToTwitter('{{.Post.Slug}}', '{{.Post.Title}}')">Twitter</a>
        </div>
        <script>
            function shareToFacebook(slug, title) {
                const url = window.location.origin + '/post/' + slug;
                window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(url), '_blank');
            }
            function shareToTwitter(slug, title) {
                const url = window.location.origin + '/post/' + slug;
                window.open('https://twitter.com/intent/tweet?url=' + encodeURIComponent(url) + '&text=' + encodeURIComponent(title), '_blank');
            }
        </script>
    </footer>
</article>
{{end}}

